<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <targets>
      <target name="f1" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
        <target xsi:type="File" layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message} ${exception:format=tostring}" encoding="UTF-8" maxArchiveFiles="30" createDirs="true" concurrentWrites="true" fileName="${basedir}/Logs/${processname}_${shortdate}.log" replaceFileContentsOnEachWrite="false"/>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="TRACE" writeTo="f1"/>
    </rules>
  </nlog>
</configuration>
